<div class="container px-5 px-sm-0 py-5">
  <div class="row">
    <h1>マイページ</h1>
  </div>
  
  <div class="row py-5"></div>
    <div class="col-md-3"></div>
      <h5>登録情報</h5>
      <%= link_to "編集する", public_customers_show_path, class: "btn btn-success" %>
      <table class="table">
        <tbody>
          <tr>
            <td bgcolor="#dcdcdc">氏名</td>
            <td><%= @customer.full_name %></td>
          </tr>
          <tr>
            <td bgcolor="#dcdcdc">カタカナ</td>
            <td><%= @customer.full_name_kana %></td>
          </tr>
          <tr>
            <td bgcolor="#dcdcdc">郵便番号</td>
            <td><%= @customer.postal_code %></td>
          </tr>
          <tr>
            <td bgcolor="#dcdcdc">住所</td>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <td bgcolor="#dcdcdc">電話番号</td>
            <td><%= @customer.telephone_number %></td>
          </tr>
          <tr>
            <td bgcolor="#dcdcdc">メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>
        </tbody>
      </table>
<h5>注文履歴</h5>
<%= link_to "一覧を見る", public_orders_path %>
</div>
