<h1>（管理者用）商品新規登録</h1>
<%= form_with model: @item do |f| %>
  
  <h6>商品名</h6>
  <%= f.text_field :name %>
  <h6>商品説明</h6>
  <%= f.text_area :introduction %>
  <h6>税抜価格</h6>
  <%= f.text_field :price%>
  <%= f.submit '新規登録'%>
<% end %>