<h1>（管理者用）商品詳細</h1>

<%= image_tag @item.get_image(100,100) %>


<h4>商品名</h4>
<%= @item.name %>
<h4>商品説明</h4>
<%= @item.introduction %>
<h4>税込価格<br>（税抜価格）</h4>
<%= @item.add_tax_price %><br>
（<%= @item.price %>）