<div class="container px-5 px-sm-0 py-5">
  <div class="row">
    <h2>管理者ログイン</h2>
    
  </div>  
  <div class="row py-5">
    <div class="col-md-8 offset-md-1">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table>
        <div class="field">
          <tr>
            <td>
              <%= f.label :email, "メールアドレス" %>
            </td>
            <td>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", :size=>"70" %>
            </td>
          </tr>
        </div>
        <div class="field">
          <tr>
            <td>
              <%= f.label :password, "パスワード" %>
            </td>
            <td>
              <%= f.password_field :password, autocomplete: "current-password", :size=>"70" %>
            </td>
          </tr>
        </div>
        <div class="actions">
          <tr>
            <td></td>
            <td>
              <input class="btn btn-primary" type="submit" value="ログイン">
            </td>
          </tr>
        </div>
      </table>  
      <% end %>

      <%= render "admin/shared/links" %>
    </div>
  </div>
</div>