<div class="container px-5 px-sm-0 py-5">
  <div class="row">
    <h2>ログイン</h2>
  </div>
  会員の方はこちらからログイン
  <div class="row py-5">
    <div class="col-md-12 offset-md-2">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <table cellpadding="15">
      <tr>
        <td><%= f.label "メールアドレス" %></td>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email", :size=>"58" %></td>
      </tr>
      <tr>
        <td><%= f.label "パスワード" %></td>
        <td><%= f.password_field :password, autocomplete: "current-password", :size=>"58" %></td>
      </tr>
      <tr>
        <td></td>
        <td><input class="btn btn-primary" type="submit" value="ログイン"></td>
      </tr>
    </table>
    <% end %>
    </div>
  </div>
  <h2>会員登録がお済みでない方</h2><br>
  <%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。
</div>