<h1>商品詳細</h1>

<%= form_with model: @cart_item, url: public_cart_items_path, method: :post do |f| %>

  <%= image_tag @item.get_image(100,100) %>

  <h3><%= @item.name %></h3>

  <p><%= @item.introduction %></p>

  <p>￥<%= @item.add_tax_price %>（税込）</p>
  
  <%= f.select :id,%>

  <%= f.submit 'カートに入れる' %>

<% end %>